In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/danielyeo/Desktop/CA_hospital_ratings.csv')

In [4]:
df.head()

,_id,Year,County,Hospital,OSHPDID,system,Type of Report,Performance Measure,# of Adverse Events,# of Cases,Risk-adjusted Rate,Hospital Ratings,Latitude,Longitude
0,1,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,PCI,NaN,NaN,NaN,NaN,37.76266,-122.253
1,2,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke Ischemic,3.0,102.0,6.1,As Expected,37.76266,-122.253
2,3,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Pancreatic Resection,NaN,NaN,NaN,NaN,37.76266,-122.253
3,4,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke Subarachnoid,NaN,NaN,NaN,NaN,37.76266,-122.253
4,5,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Carotid Endarterectomy,0.0,3.0,0.0,As Expected,37.76266,-122.253

In [5]:
df['Hospital Ratings'].value_counts()

Hospital Ratings
As Expected    17787
Better           876
Worse            824
Name: count, dtype: int64

In [6]:
df.isnull().sum()

_id                       0
Year                      0
County                    0
Hospital                  0
OSHPDID                   0
system                    0
Type of Report            0
Performance Measure       0
# of Adverse Events    8059
# of Cases             7941
Risk-adjusted Rate     8192
Hospital Ratings       7941
Latitude                 62
Longitude                62
dtype: int64

In [7]:
df.shape

(27428, 14)

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(19198, 14)

In [10]:
df.columns = df.columns.str.lower()

In [11]:
df.head()

,_id,year,county,hospital,oshpdid,system,type of report,performance measure,# of adverse events,# of cases,risk-adjusted rate,hospital ratings,latitude,longitude
1,2,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Acute Stroke Ischemic,3.0,102.0,6.1,As Expected,37.76266,-122.253
4,5,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Carotid Endarterectomy,0.0,3.0,0.0,As Expected,37.76266,-122.253
5,6,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Pneumonia,5.0,98.0,6.1,As Expected,37.76266,-122.253
6,7,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,Heart Failure,5.0,137.0,3.4,As Expected,37.76266,-122.253
7,8,2017,Alameda,Alameda Hospital,106010735,Alameda Health System,IMI,GI Hemorrhage,0.0,85.0,0.0,As Expected,37.76266,-122.253

In [12]:
df.to_csv('cahpr.csv', index=False)